.env
.env.test
.env.production
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

public/loginsignup/loginsignup.js
public/app/app.js

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
frontend/public/app/app.js
frontend/public/loginsignup/loginsignup.js
frontend/public/app/app.js.LICENSE.txt
.gitignore
backend/dist/*
