apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-comment-section
spec:
  selector:
    matchLabels:
      app: simple-comment-section
  template:
    metadata:
      labels:
        app: simple-comment-section
    spec:
      containers:
        - name: simple-comment-section
          image: yungen/simple-comment-section:1.0.2 # {"$imagepolicy": "app:simple-comment-section-policy"}
          imagePullPolicy: "IfNotPresent"
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: simple-comment-section-secret
                  key: database_url
            - name: APP_PORT
              value: "4000"
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: simple-comment-section-secret
                  key: session_secret
            - name: REDIS_HOST
              value: redis-svc
            - name: NODE_ENV
              value: production
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 4000
