body {
  background: #eeeeee
}
.container {
  /* padding-bottom: 70%; */
  /* margin: 10% 30% 10%; */
  /* padding-top: 0%; */
  /* margin: 0,0,0,0; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: right; */
}
.myself {
  text-align: right;
}
.other {
  text-align: left;
}
